@each $bp, $value in $breakpoints {
  @include breakpoint-between($bp) {
    .visible-#{$bp} { display: block !important; }
    .hidden-#{$bp} { display: none !important; }
  }

  @include breakpoint-up($bp) {
    .visible-up-#{$bp} { display: block !important; }
    .hidden-up-#{$bp} { display: none !important; }
  }

  @include breakpoint-down($bp) {
    .visible-down-#{$bp} { display: block !important; }
    .hidden-down-#{$bp} { display: none !important; }
  }
}

.fade-out,
.fade-in {
  @include transition($transition-base);
}

.fade-out {
  visibility: hidden;
  opacity: 0;
}

.fade-in {
  visibility: visible;
  opacity: 1;
}