@each $bp in map-keys($breakpoints) {
  @include breakpoint-up($bp) {
    $infix: breakpoint-infix($bp);

    .d#{$infix}-none         { display: none !important; }
    .d#{$infix}-inline       { display: inline !important; }
    .d#{$infix}-inline-block { display: inline-block !important; }
    .d#{$infix}-block        { display: block !important; }
    .d#{$infix}-flex         { display: flex !important; }
    .d#{$infix}-inline-flex  { display: inline-flex !important; }
  }
}

.hidden  { visibility: hidden !important; }
.visible { visibility: visible !important; }

.fade-out,
.fade-in {
  @include transition($transition-fade);
}

.fade-out {
  opacity: 0;
}

.fade-in {
  opacity: 1;
}