.alert {
  @include border-radius($border-radius);
  @include bg($light);
  @include bg-variant($colors);
  @include border-variant($colors);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $spacing-y-sm $spacing-x-sm;
  
  &--close {
    padding-right: ($spacing-x * 2);
    color: inherit;
  }

  &__link {
    font-size: $font-size-sm;
    text-decoration: underline;
  }

  &__close {
    position: absolute;
    top: 50%;
    right: 10px;
    font-size: 2rem;
    cursor: pointer;
    user-select: none;
    transform: translateY(-50%);
  }
}