$alert-close-width: 50px;
$alert-close-position-right: 10px;
$alert-closed-padding-right: $alert-close-width + ($alert-close-position-right * 2);

.alert {
  @include border-radius($alert-border-radius);
  @include box-shadow($alert-box-shadow);
  @include bg($base-bg);
  position: relative;
  padding: $alert-padding-y $alert-padding-x;
  font-size: $alert-font-size;
  
  &--close {
    padding-right: $alert-closed-padding-right;
    color: inherit;
  }

  &__close {
    @include absolute($top: 50%, $right: $alert-close-position-right);
    width: $alert-close-width;
    font-size: $alert-close-font-size;
    cursor: pointer;
    user-select: none;
    transform: translateY(-50%);

    &:focus {
      @include focus();
    }

    @each $key, $value in $colors {
      &.bg-#{$key} {
        @extend .btn.bg-#{$key};
      }
    }
  }
}