.badge {
  @include border-radius($border-radius);
  @include color-variant($colors);
  @include bg($primary);
  display: inline-block;
  padding: $spacing-y-xs $spacing-x-xs;
  font-size: $font-size-sm;
  font-weight: $font-weight-bold;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
}