.breadcrumb {
  @include border-radius($border-radius);
  display: block;
  padding: $spacing-y $spacing-x;
  list-style: none;

  &__item,
  &__link {
    display: inline-block;
  }

  &__item + &__item {
    padding-left: $spacing-x-xs;

    &::before {
      content: "\002F";
      display: inline-block;
      padding-right: $spacing-x-xs;
      color: $disabled;
    }
  }
}