.breadcrumb {
  display: block;
  padding: $breadcrumb-padding-y $breadcrumb-padding-x;
  font-size: $breadcrumb-font-size;
  list-style: none;

  &__item,
  &__link {
    display: inline-block;
  }

  &__item + &__item {
    padding-left: $breadcrumb-item-padding-x;

    &::before {
      content: "\002F";
      display: inline-block;
      padding-right: $breadcrumb-item-padding-x;
      color: $disabled;
    }
  }
}