.btn {
  @include button($light);
  @include button-size($spacing-y, $spacing-x, $border-radius);
  @include box-shadow($box-shadow);
  @include transition($transition-color);
  display: inline-flex;
  align-items: center;
  border: $border-width solid $light;
  font-family: inherit;
  font-weight: $font-weight-light;
  font-size: inherit;
  text-decoration: none;
  user-select: none;
  cursor: pointer;

  &--sm { @include button-size($spacing-y-sm, $spacing-x-sm, $border-radius-sm); }
  &--lg { @include button-size($spacing-y-lg, $spacing-x-lg, $border-radius-lg); }

  &--block {
    display: block;
    width: 100%;
  }

  &--disabled,
  &:disabled {
    border-color: darken($disabled, 15%);
    color: darken($disabled, 20%);
    background-color: $disabled;
    cursor: not-allowed;
  }

  @each $key, $value in $colors {
    &--#{$key} { @include button($value); }
    &--border-#{$key} { @include button-border($value) }
  }
}