.btn {
  @include button($base-bg);
  @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-border-radius);
  @include box-shadow($btn-box-shadow);
  @include transition($transition-color);
  display: inline-block;
  border: $btn-border-width solid $base-bg;
  font-family: inherit;
  font-weight: $btn-font-weight;
  line-height: $btn-line-height;
  vertical-align: middle;
  text-decoration: none;
  user-select: none;
  color: inherit;
  cursor: pointer;

  &--sm { @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm, $btn-border-radius-sm); }
  &--lg { @include button-size($btn-padding-y-lg, $btn-padding-x-lg, $btn-font-size-lg, $btn-border-radius-lg); }

  &--block {
    display: block;
    width: 100%;
  }

  &:disabled {
    border-color: darken($disabled, 15%);
    color: darken($disabled, 20%);
    background-color: $disabled;
    cursor: not-allowed;
  }

  @each $key, $value in $colors {
    &.bg-#{$key} { @include button($value); }
  }
}