.card {
  @include border-radius($border-radius);
  @include box-shadow($box-shadow);
  @include bg($grey-100);
  position: relative;
  display: flex;
  flex-direction: column;
  background-clip: border-box;

  @each $color, $value in $colors {
    &--#{$color} {
      @include bg($value);

      .card__header,
      .card__footer {
        @include bg(darken($value, 3%));
      }
    }
  }
}

.card__header,
.card__body,
.card__footer {
  padding: $spacing-y $spacing-x;
}

.card__header,
.card__footer {
  @include bg($grey-200);
}

.card__header {
  @include border-top-radius($border-radius);
}

.card__body { flex: 1 1 auto; }
.card__footer { @include border-bottom-radius($border-radius); }

.card__overlay {
  @include absolute($top: 0, $right: 0, $bottom: 0, $left: 0);
  @include border-radius($border-radius);
  @include bg(rgba($grey-800, .8));
  padding: $spacing-x-lg;

  .card__header,
  .card__footer {
    color: inherit;
    background-color: transparent !important;
  }
}

.card__img {
  @include border-radius($border-radius);
  width: 100%;
  overflow: hidden;

  &--top { @include border-bottom-radius($border-radius); }
  &--bottom { @include border-top-radius(0); }
}