.close {
  color: rgba($disabled, .9);
  user-select: none;
  font-size: $font-size-base;

  &:not(:disabled):not(.close--disabled) {
    color: rgba($dark, .8);
    cursor: pointer;
  }

  &--backdrop::before {
    content: "";
    @include fixed($top: 0, $left: 0);
    height: 100vh;
    width: 100vw;
    z-index: -1;
    background-color: rgba(0,0,0, .7);
  }
}