.dropdown {
  position: relative;
  z-index: $zindex-dropdown;
}

.dropdown__list {
  @include absolute($top: 100%, $left: 0);
  @include border-radius($border-radius);
  @include box-shadow($box-shadow);
  @include bg($white);
  @include transition($transition-fade);
  min-width: 18rem;
  padding-top: $spacing-y-sm;
  padding-bottom: $spacing-y-sm;
  border: $border-width solid $border-color;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;

  &.show {
    visibility: visible;
    opacity: 1;
  }
}

.dropdown__item,
.dropdown__link {
  display: block;
}

.dropdown__link {
  @include transition($transition-color);
  position: relative;
  padding: $spacing-y-lg $spacing-x-lg;
  text-align: center;
  text-decoration: none;

  &:hover { background-color: darken($light, 5%); }
}