.dropdown {
  position: relative;
  z-index: $zindex-dropdown;

  &--visible {
    .dropdown__list {
      @include transition($transition-fade);
      visibility: visible;
      opacity: 1;
    }
  }
}

.dropdown__list {
  @include absolute($top: 100%, $left: 0);
  @include border-radius($border-radius);
  @include bg($light);
  @include transition($transition-base);
  min-width: 18rem;
  padding-top: $spacing-y-sm;
  padding-bottom: $spacing-y-sm;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
}

.dropdown__list,
.dropdown__item,
.dropdown__link {
  display: block;
}

.dropdown__link {
  @include transition($transition-base);
  position: relative;
  padding: $spacing-y-lg $spacing-x-lg;
  text-align: center;

  &:hover { background-color: darken($light, 5%); }
}