.input {
  position: relative;
  display: flex;
  flex-flow: row wrap;

  &__label {
    @include bg($grey-200);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: $spacing-x;
    padding-left: $spacing-x;
  }

  &__text {
    @include transition($transition-base);
    @include border-radius($border-radius);
    position: relative;
    flex: 1 1 auto;
    padding: $spacing-y $spacing-x;
    border-bottom: $border-width solid $border-color;
    background-color: transparent;
    flex-direction: column;

    &--area { min-height: 10rem; }

    &:focus,
    &:active {
      @include box-shadow($box-shadow);
      background: rgba($grey-200, .4);
    }
  }

  &__checkbox {
    position: absolute;
    opacity: 0;

    &:checked ~ .input-group__custom-checkbox::after {
      content: "\f091";
      transform: scale(1.1);
      background-color: $primary;
    }
  }

  &__custom-checkbox {
    position: relative;
    width: 100%;
    padding-left: 2.4rem;
    user-select: none;

    &::after {
      content: "";
      position: absolute;
      top: calc(50% - (1.6rem / 2));
      left: .1rem;
      display: flex;
      height: 1.6rem;
      width: 1.6rem;
      align-items: center;
      justify-content: center;
      font-family: 'Font Awesome 5 Free';
      font-size: 1rem;
      font-weight: 900;
      color: $white;
      background-color: rgba($grey-300, .8);
      transition: $transition-base;
    }
  }

  &__submit { @extend .btn; }
}