.input {
  position: relative;
  display: flex;
  flex-flow: row wrap;

  &__label {
    @include bg($grey-200);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: $spacing-x;
    padding-left: $spacing-x;
  }

  &__text {
    @include transition($transition-base);
    @include border-radius($border-radius);
    position: relative;
    flex: 1 1 auto;
    padding: $spacing-y $spacing-x;
    border-bottom: $border-width solid $border-color;
    background-color: transparent;
    flex-direction: column;

    &--area { min-height: 10rem; }

    &:focus,
    &:active {
      background: rgba($light, .4);
    }
  }

  &__submit { @extend .btn; }
}