.modal {
  @include transition($transition-fade, $transition-visibility);
  @include fixed($top: 0, $right: 0, $bottom: 0, $left: 0);
  outline: 0;
  opacity: 0;
  visibility: hidden;
  z-index: $zindex-modal;

  &.show {
    visibility: visible;
    opacity: 1;
  }

  &__dialog {
    margin: $spacing-y;
    pointer-events: none;

    &--centered {
      display: flex;
      align-items: center;
      min-height: calc(100% - (#{$spacing-y} * 2));
    }
  }

  &__content,
  &__header,
  &__footer {
    display: flex;
  }

  &__header,
  &__body,
  &__footer {
    padding: $spacing-y $spacing-x-lg;
    background-color: $grey-100;
  }

  &__header,
  &__footer {
    color: $dark;
  }

  &__content {
    @include border-radius($border-radius);
    @include box-shadow($box-shadow);
    @include bg($light);
    position: relative;
    width: 100%;
    flex-direction: column;
    pointer-events: auto;
    background-clip: padding-box;
    outline: 0;
  }

  &__header {
    @include border-top-radius($border-radius);
    border-bottom: $border-width solid darken($light, 5%);
    align-items: flex-start;
    justify-content: space-between;
  }

  &__body {
    position: relative;
    flex: 1 1 auto;
  }

  &__footer {
    @include border-bottom-radius($border-radius);
    border-top: $border-width solid darken($light, 5%);
    align-items: center;
  }
}

@include breakpoint-up(sm) {
  .modal {
    &__dialog {
      max-width: 460px;
      margin: $spacing-y-lg * 5 auto;

      &--centered { min-height: calc(100% - ((#{$spacing-y-lg} * 5) * 2)); }
    }

    &__content { @include box-shadow($box-shadow); }

    &--sm { max-width: 380px; }
  }
}

@include breakpoint-up(lg) {
  .modal__dialog--lg { max-width: 680px; }
}