.nav {
  @include transition($transition-base);
  display: flex;
  flex-direction: column;

  &__link {
    position: relative;
    display: block;
    padding-top: $spacing-y;
    padding-bottom: $spacing-y;
  }

  &--tabs {
    position: relative;
    display: flex;
    flex-basis: 100%;
    flex-grow: 1;
    flex-direction: row;
    align-items: center;
    text-align: center;
    overflow-x: auto;

    .nav__item { flex: 1 0 auto; }

    .nav__link {
      width: auto;
      padding-right: $spacing-x;
      padding-left: $spacing-x;
      overflow: hidden;
    }
  }
}