.table {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;

  &__column {
    position: relative;
    padding: $table-column-padding;
    text-align: left;
    vertical-align: middle;

    &--head { background-color: $table-column-head-bg; }
  }

  &__row {
    border-bottom: $table-row-border-width solid $table-row-border-color;
  }

  &__caption {
    text-align: right;
    font-weight: $table-caption-font-weight;
    color: $table-caption-color;
  }
}
