@mixin button($color, $hover-color: darken($color, 5%), $active-color: darken($color, 15%)) {
  &:not(:disabled) {
    @include bg($color);
    border: $border-width solid $color;

    &:focus {
      @include focus($active-color);
    }

    &:hover { @include bg($hover-color); }
  }
}

@mixin button-size($spacing-y, $spacing-x, $font-size, $border-radius) {
  @include border-radius($border-radius);
  padding: $spacing-y $spacing-x;
  font-size: $font-size;
}