@mixin button($color, $hover-color: darken($color, 5%), $active-color: darken($color, 10%)) {
  @include box-shadow($box-shadow);
  @include bg($color);
  border-color: $color;

  &:not(:disabled):not(.btn--disabled):not(.btn--outline) {
    &:hover {
      @include bg($hover-color);
    }

    &:active,
    .btn--active {
      @include bg($active-color);
      border-color: $active-color;
    }
  }
}

@mixin button-size($spacing-y, $spacing-x, $border-radius) {
  @include border-radius($border-radius);
  padding: $spacing-y $spacing-x;
}