@mixin position($position, $top: null, $right: null, $bottom: null, $left: null, $z-index: null) {
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
    z-index: $z-index;
}

@mixin absolute($args...) {
    @include position(absolute, $args...)
}

@mixin fixed($args...) {
    @include position(fixed, $args...)
}

@mixin relative($args...) {
    @include position(relative, $args...)
}