@function brightness($color) {
  @if type-of($color) == color {
    @return (red($color) * 0.299 + green($color) * 0.587 + blue($color) * 0.114) / 255 * 100%;
  } @else {
    @return unquote("brightness(#{$color})");
  }
}

@function contrast-color($color) {
  @if $color == null {
    @return null;
  } @else {
    $color-brightness: brightness($color);
    $dark-text-brightness: brightness($dark);
    $light-text-brightness: brightness($light);
    @return if(abs($color-brightness - $light-text-brightness) > abs($color-brightness - $dark-text-brightness), $light, $dark);
  }
}

@function color($key: "blue") {
  @return map-get($colors, $key);
}

@function shade($key: "100") {
  @return map-get($greys, $key);
}

@function breakpoint-infix($name) {
  @return if(map-min($breakpoints, $name) == null, "", "-#{$name}");
}

@function map-get-next($map, $key, $keys: map-keys($map)) {
  $index: index($keys, $key);
  @return if($index < length($keys), nth($keys, $index + 1), null);
}

@function map-min($map, $key) {
  $min: map-get($map, $key);
  @return if($min != 0, $min, null);
}

@function map-max($map, $key) {
  $next: map-get-next($map, $key);
  @return if($next, map-min($map, $next) - .02px, null);
}