//
// Colours

$white:                   #fff !default;
$grey-100:                #f4f4f4 !default;
$grey-200:                #eee !default;
$grey-300:                #dcdcdc !default;
$grey-400:                #bdbdbd !default;
$grey-500:                #adb5bd !default;
$grey-600:                #60646a !default;
$grey-700:                #484d53 !default;
$grey-800:                #414042 !default;
$grey-900:                #36454f !default;
$black:                   #000 !default;

$greys: () !default;
$greys: map-merge((
  "100":                    $grey-100,
  "200":                    $grey-200,
  "300":                    $grey-300,
  "400":                    $grey-400,
  "500":                    $grey-500,
  "600":                    $grey-600,
  "700":                    $grey-700,
  "800":                    $grey-800,
  "900":                    $grey-900
), $greys);

$primary:                  #243a49 !default;
$red:                      #ff5640 !default;
$green:                    #06c05a !default;
$blue:                     #4099ff !default;
$secondary:                 $grey-600 !default;
$light:                     $grey-100 !default;
$dark:                      $grey-800 !default;

$colors: () !default;
$colors: map-merge((
  "red":                    $red,
  "green":                  $green,
  "blue":                   $blue,
  "white":                  $white,
  "light":                  $light,
  "dark":                   $dark,
  "black":                  $black,
  "primary":                $primary
), $colors);

//
// Options
// Used to modify global styles depending on boolean

$enable-radius:             true !default;
$enable-shadows:            true !default;
$enable-gradients:          true !default;
$enable-transitions:        true !default;

//
// Spacing

$spacing-y:                 1rem !default;
$spacing-x:                 1.5rem !default;

$spacing-y-sm:              .75rem !default;
$spacing-x-sm:              1.25rem !default;

$spacing-y-lg:              1.5rem !default;
$spacing-x-lg:              2.5rem !default;

$spacers: () !default;
$spacers: map-merge((
  0:                        0,
  1:                        $spacing-y * .5,
  2:                        $spacing-y * .75,
  3:                        $spacing-y,
  4:                        $spacing-y * 2,
  5:                        $spacing-y * 4
), $spacers);

//
// Links

$link-color:                $primary !default;
$link-decoration:           none !default;
$link-hover-color:          darken($link-color, 15%) !default;

//
// Layout Breakpoints
// Minimum dimensions for the layout to change
// For different screen sizes

$breakpoints: (
  xs:                         0,
  sm:                         576px,
  md:                         768px,
  lg:                         992px,
  xl:                         1640px
) !default;

// 
// Layout containers
// Maximum width for '.container'
// Used alongside breakpoints

$container-widths: (
  sm:                         540px,
  md:                         720px,
  lg:                         960px,
  xl:                         1140px
) !default;

// 
// Layout columns
// Used in the grid system

$grid-columns:                12 !default;
$grid-gutter:                 5px !default;

//
// Components
// Common property values

$line-height:                 1.4 !default;
$line-height-sm:              1.3 !default;
$line-height-lg:              1.6 !default;

$border-width:                1px !default;
$border-color:                $grey-100 !default;

$border-radius:               .3rem !default;
$border-radius-sm:            .2rem !default;
$border-radius-lg:            .6rem !default;

$box-shadow:                  0 0 .3rem .3rem $border-color;

$transition-base:             all .2s ease-in-out !default;
$transition-fade:             opacity .15s linear !default;
$transition-collapse:         height .35s ease !default;

//
// Fonts & text

$font-family-base:            "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

$font-size-base:              1.4rem !default;
$font-size-sm:                ($font-size-base * .8) !default;
$font-size-lg:                ($font-size-base * 1.2) !default;

$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-bold:            700 !default;

$font-weight-base:            $font-weight-normal !default;
$line-height-base:            $line-height;

$small-font-size:             ($font-size-base * .6) !default;

$heading-sizes: () !default;
$heading-sizes: map-merge((
  h1:                         ($font-size-base * 2.25),
  h2:                         ($font-size-base * 1.7),
  h3:                         ($font-size-base * 1.4),
  h4:                         ($font-size-base * 1.2),
  h5:                         ($font-size-base * 1.1),
  h6:                         $font-size-base
), $heading-sizes);

$headings-margin-bottom:      $spacing-y !default;
$headings-font-weight:        $font-weight-bold !default;
$headings-line-height:        $line-height !default;
$headings-color:              $grey-600 !default;

$disabled:                    $grey-600 !default;

//
// Z-index

$zindex-dropdown:             10 !default;
$zindex-nav:                  20 !default;
$zindex-modal:                30 !default;